@use 'core/color';
@use 'core/spacing';
@use 'core/typography';

@use 'components/core/Banner';
@use 'components/core/Header';
@use 'components/core/Footer';
@use 'components/core/PrimaryCTA';
@use 'components/core/SectionWrapper';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, -apple-system;
  font-feature-settings: 'cv11' on, 'cv08' on, 'cv03' on, 'cv02' on, 'cv04' on,
    'zero' on, 'cv09' on;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button {
  font-family: 'Inter', system-ui, -apple-system;
}

@supports (font-variation-settings: normal) {
  html,
  body {
    font-family: 'Inter var', system-ui, -apple-system;
  }

  input,
  button {
    font-family: 'Inter var', system-ui, -apple-system;
  }
}

p,
ol,
ul,
h2,
h3 {
  margin: 1.5em 0;
}

p,
ol,
ul {
  line-height: 150%;
}

ol,
ul {
  padding: 0 1em;

  li {
    margin: 1em 0;
  }
}

h2 {
  font-weight: 450;
  font-size: 30px;
  letter-spacing: -0.025em;
  line-height: 1.5em;
  color: var(--blue-50);

  @media (max-width: 550px) {
    font-size: 24px;
  }
}

h3 {
  font-weight: 500;
  font-size: 23px;
  letter-spacing: -0.01em;
  line-height: 1.5em;
  color: var(--blue-80);

  @media (max-width: 550px) {
    font-size: 22px;
  }
}

h4 {
  font-weight: 550;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: -0.01em;
  color: var(--neutral-100);

  @media (max-width: 550px) {
    font-size: 18px;
  }
}

code {
  font-family: ui-monospace, monospace;
}
