#about-section {
  .section-content {
    padding: 128px 24px;

    @media (max-width: 1280px) {
      padding: 96px 24px;
    }

    h1 {
      max-width: 1050px;
      margin: 0;
      font-weight: 400;
      font-size: 56px;
      line-height: 64px;
      letter-spacing: -0.025em;
      color: var(--neutral-100);

      @media (max-width: 1280px) {
        max-width: 750px;
        font-size: 46px;
        line-height: 54px;
        letter-spacing: -0.025em;
      }

      @media (max-width: 768px) {
        font-size: 38px;
        line-height: 46px;
      }

      @media (max-width: 650px) {
        font-size: 34px;
        line-height: 44px;
      }

      span {
        font-weight: 500;
        color: var(--orange-50);
      }
    }
  }
}

#info {
  background-color: var(--orange-50);

  .company-details {
    display: flex;
    justify-content: space-between;
    column-gap: 64px;
    color: var(--white);

    @media (max-width: 850px) {
      flex-direction: column;
      align-items: center;
      row-gap: 64px;
    }

    .left,
    .right {
      width: 100%;
    }

    .left {
      max-width: 60%;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: -0.019em;

      @media (max-width: 1280px) {
        font-size: 18px;
        line-height: 28px;
      }

      @media (max-width: 850px) {
        max-width: 650px;
      }

      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      row-gap: 64px;
      justify-content: center;
      align-items: center;
      max-width: 40%;

      @media (max-width: 850px) {
        row-gap: 48px;
        max-width: 650px;
      }

      span {
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--orange-30);
      }

      img:first-of-type {
        max-width: 65%;

        @media (max-width: 1280px) {
          max-width: 200px;
        }
      }

      img:last-of-type {
        max-width: 80%;

        @media (max-width: 1280px) {
          max-width: 265px;
        }
      }
    }
  }
}

// #careers {
//   text-align: center;
//
//   h2 {
//     margin: 0;
//     font-size: 48px;
//     line-height: 64px;
//     letter-spacing: -0.022em;
//     color: var(--blue-100);
//
//     @media (max-width: 1280px) {
//       font-size: 44px;
//       line-height: 58px;
//       letter-spacing: -0.022em;
//     }
//
//     @media (max-width: 768px) {
//       font-size: 38px;
//       line-height: 44px;
//       letter-spacing: -0.02em;
//     }
//
//     @media (max-width: 650px) {
//       font-size: 34px;
//       line-height: 40px;
//       letter-spacing: -0.02em;
//     }
//   }
//
//   p {
//     max-width: 750px;
//     margin: 64px auto;
//     font-size: 20px;
//     line-height: 30px;
//     letter-spacing: -0.019em;
//     color: var(--neutral-100);
//
//     @media (max-width: 1280px) {
//       max-width: 650px;
//       font-size: 18px;
//       line-height: 26px;
//     }
//
//     @media (max-width: 768px) {
//       max-width: 600px;
//       text-align: left;
//     }
//   }
//
//   .careers-cta {
//     box-sizing: content-box;
//     display: grid;
//     grid-template-columns: max-content max-content;
//     align-items: center;
//     margin: 0 auto;
//     padding: 8px 40px;
//     font-weight: 500;
//     font-size: 20px;
//     line-height: 32px;
//     letter-spacing: -0.017em;
//     text-decoration: none;
//     background-color: var(--orange-50);
//     color: var(--white);
//     border-radius: 100px;
//     transition: all 150ms ease-in-out;
//
//     @media (max-width: 768px) {
//       padding: 4px 32px;
//       font-size: 16px;
//       line-height: 40px;
//       letter-spacing: -0.011em;
//     }
//
//     &:hover {
//       background-color: var(--orange-60);
//
//       .careers-cta-icon {
//         transform: translate(3px, -3px);
//       }
//     }
//
//     .careers-cta-icon {
//       margin-left: 16px;
//       transform: none;
//       transition: all 150ms ease-in-out;
//     }
//   }
// }
