#about {
  #about-header,
  #about-text {
    width: 100%;

    #about-header-content,
    #about-text-content {
      width: 100%;
      margin: auto;
      padding: 70px 0 100px 0;

      @media (max-width: 1200px) {
        padding: 60px 25px;
      }

      @media (max-width: 1024px) {
        padding: 60px 20px;
      }

      @media (max-width: 768px) {
        padding: 60px 15px;
      }
    }

    #about-header-content {
      max-width: 1180px;
      text-align: center;

      #about-title {
        font-weight: 700;
        font-size: 45px;
        line-height: 100%;
        letter-spacing: -1px;
        color: var(--light-blue-1);

        @media (max-width: 1024px) {
          font-size: 40px;
        }

        @media (max-width: 550px) {
          font-size: 30px;
        }
      }
    }

    #about-text-content {
      max-width: 1180px;
      color: var(--dark-blue-3);

      #about-text-title {
        max-width: 800px;
        margin: auto;
        font-weight: 600;
        font-size: 25px;
        text-align: center;
        color: var(--dark-blue-2);

        @media (max-width: 768px) {
          font-size: 22px;
        }

        @media (max-width: 600px) {
          font-size: 20px;
        }
      }

      .about-text-header {
        max-width: 800px;
        margin: auto;
        margin-top: 85px;
        margin-bottom: 40px;
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
          Liberation Mono, monospace;
        font-weight: 700;
        font-size: 25px;
        color: var(--dark-blue-1);
        text-align: center;
      }

      .about-text-header-content {
        max-width: 800px;
        margin: auto;
        font-weight: 500;
        font-size: 18px;
        line-height: 135%;
        text-align: center;
        color: var(--dark-blue-3);
      }

      #job-list {
        .job-group {
          background-color: var(--light-blue-2);
          margin-bottom: 50px;
          padding-bottom: 15px;
          border-radius: 5px;

          .job-group-title {
            font-weight: 500;
            font-size: 30px;
            color: var(--yellow-4);
            text-align: center;
            padding: 50px 0;
          }

          .job-sub-group {
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
          }

          .job-sub-group-title {
            display: inline-block;
            font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
              Liberation Mono, monospace;
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            background-color: var(--light-blue-4);
            color: var(--dark-blue-2);
            text-align: center;
            margin: auto;
            margin-top: 25px;
            margin-bottom: 25px;
            padding: 0 10px;
          }

          .job-group-items {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .job-title {
              display: flex;
              justify-content: center;
              align-items: center;
              min-height: 100px;
              text-align: center;
              width: 100%;
              width: 33%;
              max-width: 300px;
              padding: 20px;
              margin: 15px;
              font-weight: 500;
              font-size: 20px;
              line-height: 130%;
              background-color: var(--grey-1);
              color: var(--dark-blue-3);
              border-radius: 5px;
              text-decoration: none;

              &:hover {
                color: var(--dark-blue-1);
              }

              @media (max-width: 820px) {
                width: 50%;
              }

              @media (max-width: 768px) {
                width: 100%;
              }

              @media (max-width: 768px) {
                width: 100%;
                max-width: 100%;
                padding: 15px;
                margin: 10px;
              }
            }
          }
        }
      }
    }
  }

  #about-header {
    background-color: var(--dark-blue-1);
  }
}
