#about {
  #about-header,
  #about-text {
    width: 100%;

    #about-header-content,
    #about-text-content {
      width: 100%;
      margin: auto;
      padding: 70px 0 100px 0;

      @media (max-width: 1200px) {
        padding: 60px 25px;
      }

      @media (max-width: 1024px) {
        padding: 60px 20px;
      }

      @media (max-width: 768px) {
        padding: 60px 15px;
      }
    }

    #about-header-content {
      max-width: 1180px;
      text-align: center;

      #about-title {
        font-weight: 700;
        font-size: 45px;
        line-height: 100%;
        letter-spacing: -1px;
        color: var(--light-blue-1);

        @media (max-width: 1024px) {
          font-size: 40px;
        }

        @media (max-width: 550px) {
          font-size: 30px;
        }
      }
    }

    #about-text-content {
      max-width: 800px;
      color: var(--dark-blue-3);

      #about-text-title {
        font-weight: 600;
        font-size: 25px;
        text-align: center;
        color: var(--dark-blue-2);
      }

      .about-text-header {
        margin: 50px 0;
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
          Liberation Mono, monospace;
        font-weight: 700;
        font-size: 25px;
        color: var(--dark-blue-1);
        text-align: center;
      }

      .about-text-header-content {
        font-weight: 500;
        font-size: 18px;
        line-height: 135%;
        text-align: center;
        color: var(--dark-blue-3);
      }

      #job-list {
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        .job-item {
          display: flex;
          align-items: center;
          width: 100%;
          max-width: 33%;
          padding: 25px;
          font-weight: 600;
          font-size: 25px;
          color: var(--dark-blue-2);
          text-decoration: none;

          &:hover {
            color: var(--dark-blue-1);
          }

          @media (max-width: 768px) {
            font-size: 22px;
            max-width: 50%;
          }

          @media (max-width: 768px) {
            max-width: 100%;
            padding: 15px;
          }
        }
      }
    }
  }

  #about-header {
    background-color: var(--dark-blue-1);
  }

  #about-text {
    background-color: var(--light-blue-1);
  }
}
