#home {
  width: 100%;

  .home-section {
    width: 100%;

    .home-section-content {
      width: 100%;
      max-width: 1180px;
      margin: auto;
      padding: 100px 0;

      @media (max-width: 1200px) {
        padding: 80px 25px;
      }

      @media (max-width: 1024px) {
        padding: 80px 20px;
      }

      @media (max-width: 768px) {
        padding: 80px 15px;
      }
    }
  }

  #hero {
    background-color: var(--neutral-100);

    #hero-content {
      padding-top: 125px;

      @media (max-width: 1200px) {
        padding-top: 100px;
        padding-bottom: 110px;
      }

      @media (max-width: 1024px) {
        padding-top: 85px;
        padding-bottom: 100px;
      }

      @media (max-width: 700px) {
        padding-top: 30px;
      }

      #hero-title {
        width: 100%;
        max-width: 900px;
        margin: 50px 0;
        font-weight: 400;
        font-size: 60px;
        line-height: 110%;
        letter-spacing: -1px;
        color: var(--white);

        @media (max-width: 1200px) {
          max-width: 700px;
          font-size: 50px;
        }

        @media (max-width: 1024px) {
          max-width: 650px;
          font-size: 45px;
        }

        @media (max-width: 700px) {
          max-width: 600px;
          font-size: 40px;
          text-align: center;
        }

        @media (max-width: 550px) {
          font-size: 30px;
        }
      }

      #hero-subtitle {
        width: 100%;
        max-width: 900px;
        margin: 50px 0;
        font-weight: 500;
        font-size: 23px;
        line-height: 130%;
        color: var(--blue-10);

        @media (max-width: 1200px) {
          max-width: 750px;
          font-size: 20px;
        }

        @media (max-width: 1024px) {
          max-width: 650px;
          font-size: 18px;
        }

        @media (max-width: 700px) {
          text-align: center;
        }
      }

      #hero-cta-group {
        display: flex;

        @media (max-width: 700px) {
          justify-content: center;
        }

        @media (max-width: 400px) {
          flex-direction: column;
          align-items: center;
        }

        .hero-cta {
          width: 180px;
          padding: 10px 20px;
          font-weight: 600;
          font-size: 16px;
          text-align: center;
          text-decoration: none;
          border-radius: 3px;
        }

        #hero-primary-cta {
          margin-right: 25px;
          background-color: var(--orange-50);
          color: var(--white);
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: var(--orange-60);
            color: var(--neutral-10);
          }

          @media (max-width: 400px) {
            margin-right: 0;
            margin-bottom: 25px;
          }
        }

        #hero-secondary-cta {
          display: flex;
          background-color: var(--white);
          color: var(--blue-100);
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: var(--neutral-10);
            color: var(--blue-70);
          }

          .cta-icon {
            display: flex;
            align-items: center;
            margin-right: 10px;
          }
        }
      }

      #hero-customer {
        display: flex;
        flex-direction: column;
        margin-top: 75px;

        @media (max-width: 700px) {
          align-items: center;
        }

        #hero-customer-text {
          color: var(--neutral-40);
          font-weight: 500;
          font-size: 14px;

          @media (max-width: 700px) {
            text-align: center;
          }
        }

        #hero-customer-logo-group {
          display: flex;
          margin-top: 30px;
          justify-content: space-between;

          @media (max-width: 650px) {
            flex-wrap: wrap;
            margin-top: 20px;
          }

          .hero-customer-logo {
            margin-right: 75px;

            &:last-of-type {
              margin-right: 0;
            }

            @media (max-width: 800px) {
              margin-right: 50px;
            }

            @media (max-width: 650px) {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50%;
              margin-right: 0;
              margin-top: 30px;
            }

            @media (max-width: 350px) {
              width: 100%;
            }

            img {
              width: auto;
              height: 30px;
            }
          }
        }
      }
    }
  }

  #explainer {
    background-color: var(--neutral-90);

    #explainer-title {
      max-width: 750px;
      margin: auto;
      margin-top: 35px;
      margin-bottom: 35px;
      font-weight: 600;
      font-size: 45px;
      line-height: 115%;
      letter-spacing: -1px;
      color: var(--neutral-10);
      text-align: center;

      @media (max-width: 1024px) {
        margin-top: 28px;
        margin-bottom: 28px;
        font-size: 40px;
      }

      @media (max-width: 700px) {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 30px;
      }
    }

    p {
      width: 90%;
      max-width: 750px;
      margin: auto;
      font-weight: 400;
      font-size: 21px;
      line-height: 130%;
      color: var(--neutral-30);

      @media (max-width: 1024px) {
        font-size: 18px;
      }

      @media (max-width: 700px) {
        font-size: 16px;
      }
    }

    #explainer-image {
      display: block;
      width: 100%;
      max-width: 1000px;
      margin: auto;
      margin-top: 100px;
    }
  }

  .non-engineer {
    .non-engineer-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .non-engineer-text-group {
        max-width: 750px;
        text-align: center;

        @media (max-width: 1024px) {
          max-width: 660px;
        }

        @media (max-width: 768px) {
          max-width: 600px;
        }

        @media (max-width: 700px) {
          max-width: 550px;
        }

        .non-engineer-text-heading {
          font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
            Liberation Mono, monospace;
          font-weight: 700;
          font-size: 20px;
          line-height: 100%;
          color: var(--blue-40);

          @media (max-width: 1024px) {
            font-size: 18px;
          }

          @media (max-width: 700px) {
            font-size: 16px;
          }
        }

        .non-engineer-text-title {
          margin: 35px 0;
          font-weight: 600;
          font-size: 45px;
          line-height: 115%;
          letter-spacing: -1px;
          color: var(--blue-90);

          @media (max-width: 1024px) {
            margin: 28px 0;
            font-size: 40px;
          }

          @media (max-width: 700px) {
            margin: 25px 0;
            font-size: 30px;
          }
        }

        .non-engineer-text-subtitle {
          font-weight: 400;
          font-size: 21px;
          line-height: 130%;
          color: var(--neutral-70);

          @media (max-width: 1024px) {
            font-size: 18px;
          }

          @media (max-width: 700px) {
            font-size: 16px;
          }
        }
      }

      .non-engineer-cta {
        width: 180px;
        margin: auto;
        padding: 10px 20px;
        margin-top: 100px;
        font-weight: 600;
        font-size: 16px;
        background-color: var(--orange-50);
        color: var(--white);
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: var(--orange-60);
          color: var(--neutral-10);
        }

        @media (max-width: 768px) {
          margin-top: 65px;
        }
      }

      .non-engineer-illustration-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 65px;

        @media (max-width: 768px) {
          margin-top: 40px;
          flex-direction: column-reverse;
          align-items: center;
        }

        .non-engineer-illustration {
          width: 100%;
          max-width: 1000px;
          background-color: var(--white);
          border-radius: 3px;
          box-shadow: 0px 24px 150px rgba(193, 199, 208, 0.65);

          @media (max-width: 1024px) {
            max-width: 600px;
          }

          @media (max-width: 768px) {
            max-width: 650px;
          }

          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  #marketers {
    background-color: var(--white);
  }

  #product-managers {
    background-color: var(--neutral-10);

    .content {
      .title {
        color: var(--blue-50);
      }

      .heading {
        color: var(--blue-90);
      }

      .sub-heading {
        color: var(--neutral-70);
      }
    }

    .section-point-group {
      color: var(--blue-70);

      .section-point {
        border-right: 2px solid var(--neutral-20);

        h3 {
          color: var(--blue-70);
        }

        @media (max-width: 768px) {
          border-right: none;
          border-bottom: 2px solid var(--neutral-20);

          h3 {
            margin: 0;
          }
        }

        &:last-of-type {
          border-right: none;

          @media (max-width: 768px) {
            border-bottom: none;
          }
        }
      }
    }
  }
  #engineers {
    background-color: var(--neutral-100);
  }

  .persona-section-with-points {
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .introductory-text-group {
        max-width: 750px;
        text-align: center;

        @media (max-width: 1024px) {
          max-width: 660px;
        }

        @media (max-width: 768px) {
          max-width: 600px;
        }

        @media (max-width: 700px) {
          max-width: 550px;
        }

        .title {
          font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
            Liberation Mono, monospace;
          font-weight: 700;
          font-size: 20px;
          line-height: 100%;

          color: var(--blue-30);

          @media (max-width: 1024px) {
            font-size: 18px;
          }

          @media (max-width: 700px) {
            font-size: 16px;
          }
        }

        .heading {
          margin: 35px 0;
          font-weight: 600;
          font-size: 45px;
          line-height: 115%;
          letter-spacing: -1px;
          color: var(--white);

          @media (max-width: 1024px) {
            margin: 28px 0;
            font-size: 35px;
            letter-spacing: -0.5px;
          }

          @media (max-width: 700px) {
            margin: 25px 0;
            font-size: 28px;
          }
        }

        .sub-heading {
          font-weight: 400;
          font-size: 21px;
          line-height: 130%;
          color: var(--neutral-40);

          @media (max-width: 1024px) {
            font-size: 18px;
          }

          @media (max-width: 700px) {
            font-size: 16px;
          }
        }
      }

      .cta {
        width: 180px;
        margin: auto;
        padding: 10px 20px;
        margin-top: 100px;
        font-weight: 600;
        font-size: 16px;
        background-color: var(--orange-50);
        color: var(--white);
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: var(--orange-60);
          color: var(--neutral-10);
        }

        @media (max-width: 768px) {
          margin-top: 65px;
        }
      }

      .illustration {
        width: 100%;
        max-width: 1000px;
        height: auto;
        margin-top: 65px;

        @media (max-width: 700px) {
          margin-top: 40px;
        }

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      .section-point-group {
        display: flex;
        justify-content: space-between;
        margin-top: 85px;
        text-align: center;
        color: var(--neutral-10);

        @media (max-width: 1024px) {
          margin-top: 75px;
        }

        @media (max-width: 800px) {
          margin-top: 65px;
        }

        @media (max-width: 768px) {
          flex-direction: column;
          flex-wrap: wrap;
          margin-top: 45px;
        }

        .section-point {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 85px 25px;
          border-right: 2px solid var(--neutral-90);

          h3 {
            color: var(--orange-30);
            font-weight: 500;
            font-size: 24px;
            line-height: 115%;
          }

          span {
            padding: 20px 0;
          }

          @media (max-width: 1024px) {
            padding: 65px 20px;

            h3 {
              font-size: 20px;
            }
          }

          @media (max-width: 800px) {
            h3 {
              letter-spacing: 0;
            }
          }

          @media (max-width: 768px) {
            display: block;
            max-width: 500px;
            margin: 0;
            padding: 35px 0;
            border-right: none;
            border-bottom: 2px solid rgba(226, 240, 255, 0.1);
          }

          @media (max-width: 600px) {
            padding: 25px 0;
          }

          &:last-of-type {
            border-right: none;

            @media (max-width: 768px) {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  #blog {
    background-color: var(--neutral-10);
  }

  #privacy {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: var(--neutral-10);

    @media (max-width: 1200px) {
      padding-top: 50px;
      padding-bottom: 30px;
    }

    #privacy-content {
      width: 90%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: var(--blue-100);
      border-radius: 10px;

      @media (max-width: 1024px) {
        max-width: 900px;
      }

      #privacy-content-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 750px;

        @media (max-width: 1024px) {
          max-width: 660px;
        }

        @media (max-width: 850px) {
          max-width: 600px;
        }

        @media (max-width: 700px) {
          max-width: 520px;
        }

        @media (max-width: 600px) {
          max-width: 500px;
        }

        #privacy-hashtag {
          font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
            Liberation Mono, monospace;
          font-weight: 700;
          font-size: 26px;
          line-height: 100%;
          color: var(--blue-30);

          @media (max-width: 1024px) {
            font-size: 24px;
          }

          @media (max-width: 700px) {
            font-size: 20px;
          }
        }

        #privacy-title {
          margin-top: 50px;
          font-weight: 500;
          font-size: 45px;
          line-height: 115%;
          letter-spacing: -1px;
          color: var(--neutral-10);

          @media (max-width: 1024px) {
            margin-top: 38px;
            font-size: 36px;
            letter-spacing: -0.5px;
          }

          @media (max-width: 700px) {
            font-size: 28px;
          }
        }

        #privacy-subtitle {
          font-weight: 400;
          font-size: 22px;
          line-height: 130%;
          margin: 0;
          color: var(--neutral-30);

          @media (max-width: 1024px) {
            font-size: 20px;
          }

          @media (max-width: 700px) {
            font-size: 18px;
          }
        }
      }

      #privacy-cta {
        width: 180px;
        margin: auto;
        padding: 10px 20px;
        margin-top: 60px;
        font-weight: 600;
        font-size: 16px;
        background-color: var(--orange-50);
        color: var(--white);
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: var(--orange-60);
          color: var(--neutral-10);
        }

        @media (max-width: 768px) {
          margin-top: 45px;
        }
      }
    }
  }
}
