@use 'components/home/SubHeader';

.integrations-new {
  h1 {
    color: var(--blue-60) !important;
  }
}

#integrations {
  #integrations-text {
    width: 100%;

    #integrations-text-content {
      width: 100%;
      margin: auto;
      padding: 70px 0 60px 0;

      @media (max-width: 1200px) {
        padding: 60px 25px;
      }

      @media (max-width: 1024px) {
        padding: 50px 20px;
      }

      @media (max-width: 768px) {
        padding: 40px 15px;
      }
    }

    #integrations-text-content {
      padding-top: 0;

      @media (max-width: 1200px) {
        padding-top: 0;
      }

      @media (max-width: 1024px) {
        padding-top: 0;
      }

      @media (max-width: 768px) {
        padding-top: 0;
      }
    }

    #integrations-text-content {
      max-width: 1000px;

      @media (max-width: 1024px) {
        max-width: 800px;
      }

      #integrations-search {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        height: 50px;
        margin: auto;
        margin-bottom: 70px;

        @media (max-width: 1200px) {
          margin-bottom: 60px;
        }

        input {
          width: 100%;
          max-width: 350px;
          height: 50px;
          font-weight: 400;
          font-size: 23px;
          text-align: center;
          background-color: var(--white);
          color: var(--blue-80);
          border: 2px solid var(--neutral-50);
          border-radius: 100px;

          &::placeholder {
            font-weight: 400;
            color: var(--neutral-40);
          }

          @media (max-width: 1024px) {
            font-size: 20px;
          }

          @media (max-width: 768px) {
            font-size: 18px;
          }
        }
      }

      #integrations-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;

        @media (max-width: 1024px) {
          justify-content: center;
        }

        @media (max-width: 768px) {
          max-width: 300px;
        }

        .integration {
          width: 300px;
          margin-bottom: 25px;
          padding: 20px 5px;
          border: 2px solid var(--neutral-20);
          border-radius: 3px;
          text-decoration: none;
          background-color: var(--neutral-10);
          transition: all 150ms ease-in-out;

          &:hover {
            border: 2px solid var(--neutral-30);
            background-color: var(--white);
          }

          @media (max-width: 1024px) {
            &:nth-of-type(odd) {
              margin-right: 50px;
            }
          }

          @media (max-width: 768px) {
            &:nth-of-type(odd) {
              margin-right: 0;
            }
          }

          .integration-icon {
            display: flex;
            height: 50px;
            width: 100%;

            img {
              display: block;
              max-width: 50%;
              max-height: 50px;
              margin: auto;
            }
          }

          .integration-text {
            width: 100%;
            margin-top: 35px;
            font-weight: 400;
            font-size: 20px;
            text-align: center;
            color: var(--blue-100);

            @media (max-width: 768px) {
              margin-top: 25px;
            }
          }
        }
      }
    }
  }
}
