.legal {
  .legal-text {
    padding: 70px 0;
  }

  .legal-header,
  .legal-text {
    width: 100%;
    padding: 70px 0 100px 0;

    @media (max-width: 1200px) {
      padding: 60px 25px;
    }

    @media (max-width: 1024px) {
      padding: 60px 20px;
    }

    @media (max-width: 768px) {
      padding: 60px 15px;
    }

    .legal-text-content {
      max-width: 800px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--dark-blue-3);

      span {
        font-weight: 700;
        color: var(--dark-blue-4);
      }
    }

    .legal-header-content,
    .legal-text-content {
      width: 100%;
      margin: auto;
    }

    .legal-header-content {
      max-width: 1180px;
      text-align: center;

      .legal-title {
        margin: auto;
        font-weight: 600;
        font-size: 42px;
        line-height: 125%;
        letter-spacing: -0.035em;
        color: var(--dark-blue-4);

        @media (max-width: 1024px) {
          max-width: 800px;
          font-size: 36px;
        }

        @media (max-width: 550px) {
          font-size: 30px;
        }
      }

      .legal-subtitle {
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
          Liberation Mono, monospace;
        font-weight: 600;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.35);

        @media (max-width: 1024px) {
          font-size: 18px;
        }

        @media (max-width: 900px) {
          font-size: 16px;
        }
      }
    }
  }

  .legal-header {
    background-color: var(--grey-3);
  }

  .legal-text {
    background-color: var(--grey-1);
  }
}
