.legal {
  background-color: #f3f2f2;

  .legal-text {
    padding: 70px 0;
  }

  .legal-header,
  .legal-text {
    width: 100%;
    padding: 70px 0 60px 0;

    @media (max-width: 1200px) {
      padding: 60px 25px;
    }

    @media (max-width: 1024px) {
      padding: 50px 20px;
    }

    @media (max-width: 768px) {
      padding: 40px 15px;
    }

    .legal-text-content {
      max-width: 750px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--neutral-90);
      padding-top: 0;

      @media (max-width: 1200px) {
        padding-top: 0;
      }

      @media (max-width: 1024px) {
        padding-top: 0;
      }

      @media (max-width: 768px) {
        padding-top: 0;
      }

      span {
        font-weight: 600;
        color: var(--neutral-100);
      }
    }

    .legal-header-content,
    .legal-text-content {
      width: 100%;
      margin: auto;
    }

    .legal-header-content {
      max-width: 1180px;
      text-align: center;

      .legal-title {
        font-weight: 600;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -0.035em;
        color: var(--neutral-90);

        @media (max-width: 768px) {
          font-size: 40px;
        }

        @media (max-width: 550px) {
          font-size: 35px;
        }
      }

      .legal-subtitle {
        margin-top: 15px;
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
          Liberation Mono, monospace;
        font-weight: 600;
        font-size: 16px;
        color: var(--neutral-50);

        @media (max-width: 768px) {
          margin-top: 12px;
        }
      }
    }
  }
}
