.writing {
  .writing-header,
  .writing-list {
    width: 100%;

    .writing-header-content,
    .writing-list-content {
      width: 100%;
      max-width: 1180px;
      margin: auto;
      padding: 70px 0 100px 0;

      @media (max-width: 1200px) {
        padding: 60px 25px;
      }

      @media (max-width: 1024px) {
        padding: 60px 20px;
      }

      @media (max-width: 768px) {
        padding: 60px 15px;
      }
    }

    .writing-header-content {
      text-align: center;

      .writing-title {
        font-weight: 700;
        font-size: 45px;
        line-height: 100%;
        letter-spacing: -1px;
        color: var(--dark-blue-4);

        @media (max-width: 1024px) {
          font-size: 40px;
        }

        @media (max-width: 550px) {
          font-size: 30px;
        }
      }
    }

    .writing-list-content {
      .list {
        max-width: 650px;
        margin: auto;

        @media (max-width: 768px) {
          max-width: 500px;
        }

        .list-title {
          font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
            Liberation Mono, monospace;
          font-weight: 700;
          font-size: 25px;
          color: var(--dark-blue-1);
          text-align: center;
        }

        .list-content {
          margin-top: 65px;

          @media (max-width: 768px) {
            margin-top: 50px;
          }

          .list-item {
            margin-top: 45px;

            @media (max-width: 768px) {
              margin-top: 40px;
            }

            a {
              text-decoration: none;

              &:hover {
                color: var(--dark-blue-1);
              }
            }

            .list-item-title {
              font-weight: 600;
              font-size: 30px;
              line-height: 110%;
              letter-spacing: -1px;
              color: var(--dark-blue-3);

              @media (max-width: 768px) {
                font-size: 23px;
              }
            }

            .list-item-info {
              margin-top: 15px;
              font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo,
                Consolas, Liberation Mono, monospace;
              font-weight: 700;
              font-size: 16px;
              color: rgba(0, 0, 0, 0.65);

              @media (max-width: 768px) {
                margin-top: 12px;
              }
            }
          }
        }
      }
    }
  }

  .writing-header {
    background-color: var(--light-blue-3);
  }

  .writing-list {
    background-color: var(--light-blue-1);
  }
}
