.writing {
  .writing-header,
  .writing-list {
    width: 100%;

    .writing-header-content,
    .writing-list-content {
      width: 100%;
      max-width: 1180px;
      margin: auto;
      padding: 70px 0 60px 0;

      @media (max-width: 1200px) {
        padding: 60px 25px;
      }

      @media (max-width: 1024px) {
        padding: 50px 20px;
      }

      @media (max-width: 768px) {
        padding: 40px 15px;
      }
    }

    .writing-list-content {
      padding-top: 0;

      @media (max-width: 1200px) {
        padding-top: 0;
      }

      @media (max-width: 1024px) {
        padding-top: 0;
      }

      @media (max-width: 768px) {
        padding-top: 0;
      }
    }

    .writing-header-content {
      text-align: center;

      .writing-title {
        font-weight: 600;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -0.035em;
        color: var(--dark-blue-2);

        @media (max-width: 768px) {
          font-size: 40px;
        }

        @media (max-width: 550px) {
          font-size: 35px;
        }
      }
    }

    .writing-list-content {
      .list {
        max-width: 650px;
        margin: auto;

        @media (max-width: 768px) {
          max-width: 500px;
        }

        .list-title {
          font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
            Liberation Mono, monospace;
          font-weight: 700;
          font-size: 25px;
          color: var(--dark-blue-1);
          text-align: center;
        }

        .list-content {
          .list-item {
            margin-top: 45px;
            padding-bottom: 15px;

            @media (max-width: 768px) {
              margin-top: 40px;
            }

            h2 {
              margin: 0;
              line-height: 135%;

              @media (max-width: 768px) {
                font-size: 26px;
              }

              @media (max-width: 550px) {
                font-size: 23px;
              }

              .list-item-title {
                color: var(--dark-blue-3);
              }

              a {
                text-decoration: none;

                &:hover {
                  color: var(--dark-blue-1);
                }
              }
            }

            .list-item-info {
              margin-top: 15px;
              font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo,
                Consolas, Liberation Mono, monospace;
              font-weight: 700;
              font-size: 16px;
              color: rgba(0, 0, 0, 0.65);

              @media (max-width: 768px) {
                margin-top: 12px;
              }
            }
          }
        }
      }
    }
  }
}
