@use 'components/home/ContentHeader';

.content-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
  column-gap: 40px;
  row-gap: 40px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px 96px 24px;

  @media (max-width: 1280px) {
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    column-gap: 32px;
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    column-gap: 24px;
  }

  @media (max-width: 768px) {
    padding: 0 24px 96px 24px;
  }

  @media (max-width: 600px) {
    justify-items: center;
  }

  .content-item {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 100%;
    max-width: 365px;

    .content-item-link {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      text-decoration: none;

      .content-item-thumbnail {
        width: 100%;
        height: auto;
      }

      .content-item-title {
        margin: 0;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.009em;
        color: var(--blue-90);
        transition: all 150ms ease-in-out;

        @media (max-width: 1024px) {
          font-size: 18px;
          line-height: 26px;
        }

        @media (max-width: 550px) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &:hover {
        .content-item-title {
          color: var(--blue-50);
        }
      }
    }

    .content-item-date {
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: -0.011em;
      color: var(--neutral-60);

      @media (max-width: 768px) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
