@use 'components/home/SubHeader';

.writing-item-new {
  h1 {
    font-size: 48px !important;
    line-height: 64px !important;
    letter-spacing: -0.022em !important;
    color: var(--orange-60) !important;

    @media (max-width: 1024px) {
      font-size: 40px !important;
      line-height: 56px !important;
      letter-spacing: -0.022em !important;
    }

    @media (max-width: 768px) {
      font-size: 33px !important;
      line-height: 45px !important;
      letter-spacing: -0.02em !important;
    }

    @media (max-width: 650px) {
      font-size: 28px !important;
      line-height: 38px !important;
      letter-spacing: -0.02em !important;
    }
  }
}

.writing {
  .writing-item-text {
    width: 100%;

    .writing-item-text-content {
      width: 100%;
      max-width: 1180px;
      margin: auto;
      padding: 0 24px 96px 24px;

      @media (max-width: 1200px) {
        padding: 0 24px 80px 24px;
      }

      @media (max-width: 1024px) {
        padding: 0 24px 64px 24px;
      }
    }

    .writing-item-text-content {
      max-width: 750px;
      margin: auto;

      a {
        font-weight: 500;
        color: var(--blue-50);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      img {
        width: 100%;
        height: auto;
        margin: 25px 0;

        @media (max-width: 1024px) {
          margin: 15px 0;
        }
      }

      pre {
        padding: 15px;
        font-weight: 500;
        line-height: 150%;
        background-color: var(--neutral-10);
        overflow: scroll;
      }
    }
  }

  #jobs-item-header {
    .writing-item-title {
      color: var(--white);
    }
  }
}
