#not-found {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 35px;
    line-height: 42px;
    font-weight: 700;
  }

  p {
    max-width: 440px;
    margin: 10px auto 0;
  }

  .button-main {
    margin: 40px auto 50px;
  }
}
