.writing .writing-header,
.writing .writing-list {
  width: 100%;
}
.writing .writing-header .writing-header-content,
.writing .writing-header .writing-list-content,
.writing .writing-list .writing-header-content,
.writing .writing-list .writing-list-content {
  width: 100%;
  max-width: 1180px;
  margin: auto;
  padding: 70px 0 100px 0;
}
@media (max-width: 1200px) {
  .writing .writing-header .writing-header-content,
.writing .writing-header .writing-list-content,
.writing .writing-list .writing-header-content,
.writing .writing-list .writing-list-content {
    padding: 60px 25px;
  }
}
@media (max-width: 1024px) {
  .writing .writing-header .writing-header-content,
.writing .writing-header .writing-list-content,
.writing .writing-list .writing-header-content,
.writing .writing-list .writing-list-content {
    padding: 60px 20px;
  }
}
@media (max-width: 768px) {
  .writing .writing-header .writing-header-content,
.writing .writing-header .writing-list-content,
.writing .writing-list .writing-header-content,
.writing .writing-list .writing-list-content {
    padding: 60px 15px;
  }
}
.writing .writing-header .writing-header-content,
.writing .writing-list .writing-header-content {
  text-align: center;
}
.writing .writing-header .writing-header-content .writing-title,
.writing .writing-list .writing-header-content .writing-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: -1px;
  color: var(--dark-blue-4);
}
@media (max-width: 1024px) {
  .writing .writing-header .writing-header-content .writing-title,
.writing .writing-list .writing-header-content .writing-title {
    font-size: 40px;
  }
}
@media (max-width: 550px) {
  .writing .writing-header .writing-header-content .writing-title,
.writing .writing-list .writing-header-content .writing-title {
    font-size: 30px;
  }
}
.writing .writing-header .writing-list-content .list,
.writing .writing-list .writing-list-content .list {
  max-width: 650px;
  margin: auto;
}
@media (max-width: 768px) {
  .writing .writing-header .writing-list-content .list,
.writing .writing-list .writing-list-content .list {
    max-width: 500px;
  }
}
.writing .writing-header .writing-list-content .list .list-title,
.writing .writing-list .writing-list-content .list .list-title {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-weight: 700;
  font-size: 25px;
  color: var(--dark-blue-1);
  text-align: center;
}
.writing .writing-header .writing-list-content .list .list-content,
.writing .writing-list .writing-list-content .list .list-content {
  margin-top: 65px;
}
@media (max-width: 768px) {
  .writing .writing-header .writing-list-content .list .list-content,
.writing .writing-list .writing-list-content .list .list-content {
    margin-top: 50px;
  }
}
.writing .writing-header .writing-list-content .list .list-content .list-item,
.writing .writing-list .writing-list-content .list .list-content .list-item {
  margin-top: 45px;
}
@media (max-width: 768px) {
  .writing .writing-header .writing-list-content .list .list-content .list-item,
.writing .writing-list .writing-list-content .list .list-content .list-item {
    margin-top: 40px;
  }
}
.writing .writing-header .writing-list-content .list .list-content .list-item a,
.writing .writing-list .writing-list-content .list .list-content .list-item a {
  text-decoration: none;
}
.writing .writing-header .writing-list-content .list .list-content .list-item a:hover,
.writing .writing-list .writing-list-content .list .list-content .list-item a:hover {
  color: var(--dark-blue-1);
}
.writing .writing-header .writing-list-content .list .list-content .list-item .list-item-title,
.writing .writing-list .writing-list-content .list .list-content .list-item .list-item-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -1px;
  color: var(--dark-blue-3);
}
@media (max-width: 768px) {
  .writing .writing-header .writing-list-content .list .list-content .list-item .list-item-title,
.writing .writing-list .writing-list-content .list .list-content .list-item .list-item-title {
    font-size: 23px;
  }
}
.writing .writing-header .writing-list-content .list .list-content .list-item .list-item-info,
.writing .writing-list .writing-list-content .list .list-content .list-item .list-item-info {
  margin-top: 15px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-weight: 700;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
}
@media (max-width: 768px) {
  .writing .writing-header .writing-list-content .list .list-content .list-item .list-item-info,
.writing .writing-list .writing-list-content .list .list-content .list-item .list-item-info {
    margin-top: 12px;
  }
}
.writing .writing-header {
  background-color: var(--light-blue-3);
}
.writing .writing-list {
  background-color: var(--light-blue-1);
}

/*# sourceMappingURL=writing.css.map */
