:root {
  --blue-10: #c0d6ff;
  --blue-20: #90b8ff;
  --blue-30: #5a95ff;
  --blue-40: #397bf4;
  --blue-50: #2b65cf;
  --blue-60: #194dad;
  --blue-70: #0b3b94;
  --blue-80: #003173;
  --blue-90: #001e47;
  --blue-100: #001531;

  --neutral-10: #f1f4f8;
  --neutral-20: #dbe2eb;
  --neutral-30: #bfccda;
  --neutral-40: #a3b2c6;
  --neutral-50: #8799af;
  --neutral-60: #677c95;
  --neutral-70: #4e647f;
  --neutral-80: #394d66;
  --neutral-90: #293b51;
  --neutral-100: #172a41;

  --orange-10: #fff3e6;
  --orange-20: #ffdabf;
  --orange-30: #ffaa7f;
  --orange-40: #ff7846;
  --orange-50: #f25c2b;
  --orange-60: #cd4827;
  --orange-70: #b03e19;
  --orange-80: #892c0f;
  --orange-90: #61170d;
  --orange-100: #520c03;

  --white: #ffffff;

  --black: #000000;
  --black-8: rgba(0, 0, 0, 0.08);
  --black-80: rgba(0, 0, 0, 80%);
  --black-64: rgba(0, 0, 0, 64%);
  --black-48: rgba(0, 0, 0, 48%);
  --black-32: rgba(0, 0, 0, 32%);
  --black-24: rgba(0, 0, 0, 24%);
  --black-16: rgba(0, 0, 0, 16%);

  --errorJuice: #db524e;
}
