$spacer-1: 2px;
$spacer-2: 4px;
$spacer-3: 8px;
$spacer-4: 12px;
$spacer-5: 16px;
$spacer-6: 24px;
$spacer-7: 32px;
$spacer-8: 40px;
$spacer-9: 48px;
$spacer-10: 64px;
$spacer-11: 80px;
$spacer-12: 96px;
$spacer-13: 160px;
