html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  position: relative;
}

/*
  BLOG
*/
.blog_content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 15px;
}

.blog_article {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 40px;
}

.blog_article:last-of-type {
  border: none;
}

.blog_title {
  margin: 30px 0 5px;
}

.blog_readMore {
    border: 1px solid #ddd;
  color: #333;
  padding: 5px 10px 6px;
  text-decoration: none;
  font-size: 12px;
  transition: all 0.3s ease;
  display: inline-block;
  margin-top: 10px;
  border-radius: 5px;
}

.blog_readMore:hover {
  border-color: #e05b17;
  color: #e05b17;
}

/*
  BUTTON
 */
.button {
  font-size: 25px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  min-width: 285px;
}

.button:hover {
  opacity: 0.8;
}

.button.primary {
  background-color: #e15b17;
  border: 1px solid transparent;
}

.button.secondary {
  border: 1px solid #fff;
}

/*
  FOLD
 */
.fold_wrapper {
  padding: 70px 0;
}

.fold_wrapper.even {
  background: linear-gradient(-45deg, #063a7d 0%, #2a63ab 100%);
}

.fold_wrapper.odd {
  background: #003173;
}

.fold_center {
  display: flex;
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 30px;
  align-items: center;
}

.fold_text {
  color: #fff;
  width: 400px;
  margin-right: 130px;
}

.fold_text h4 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.fold_text p {
  font-size: 22px;
  padding: 0;
  margin: 20px 0 0;
}

.fold_titleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.fold_title {
  font-size: 25px;
  font-weight: normal;
  padding: 0;
  margin: 0 0 0 27px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

.fold_image {
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
}

.fold_image img {
  display: block;
}

/*
  FOOTER
 */
.footer_wrapper {
  background: #E6E9EE;
  padding: 50px 0 70px;
  text-align: center;
}

.footer_social {
  color: #737478;
}

.footer_social a {
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
}

.footer_siteMap {
  margin-top: 20px;
}

.footer_link {
  display: inline-block;
  margin: 0 18px;
  color: #012F76;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer_link:hover {
  color: #e05b17;
}

.footer_copy {
  margin-top: 20px;
}

/*
  HEADER
 */
.header_wrapper {
  display: flex;
  margin: 30px auto 0;
  max-width: 1500px;
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 0 30px;
  align-items: flex-end;
}

.header_image {
  display: block;
}

.header_link {
  text-decoration: none;
  margin: 0 25px;
  color: #fff;
  font-size: 21px;
}

.header_link.active {
  color: #e05b17;
}

.header_link:hover {
  text-decoration: underline;
}


/*
  HEADER FILLER
 */
.headerFiller_wrapper {
  min-height: calc(100% - 249px);
}

.headerFiller_filler {
  height: 100px;
  background: linear-gradient(-45deg,#063a7d 0%,#2a63ab 100%);
}

/*
  MAIN FOLD
 */

.mainFold_wrapper {
  background-image: linear-gradient(-45deg, #063a7d 0%, #2a63ab 100%);
  color: #fff;
  text-align: center;
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
}

.mainFold_wrapper:after {
  content: "";
  display: block;
  width: 100%;
  height:300px;
  background: white;
  padding: 16.625rem 0;
  mask:
    radial-gradient(130% 71% at top, white 79.5%,transparent 80%) top left,
    radial-gradient(130% 72% at bottom, transparent 79.5%, white 80%) top right;
  -webkit-mask:
    radial-gradient(130% 71% at top, white 79.5%,transparent 80%) top left,
    radial-gradient(130% 72% at bottom, transparent 79.5%, white 80%) top right;
  mask-size:50% 140%;
  -webkit-mask-size:50% 140%;
  mask-repeat:no-repeat;
  -webkit-mask-repeat:no-repeat;
  transform: rotateX(180deg);
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.mainFold_front {
  position: relative;
  z-index: 2;
}

.mainFold_header1 {
  padding: 100px 0 0;
  margin: 0 0 15px;
  font-size: 42px;
  font-weight: 600;
}

.mainFold_header2 {
  padding: 0;
  margin: 0;
  font-size: 23px;
  font-weight: 600;
}

.mainFold_buttons {
  margin-top: 50px;
  text-align: center;
}

.mainFold_buttons a {
  margin: 0 30px;
}

.mainFold_imageWrapper {
  max-width: 1450px;
  margin: 100px auto 0;
  box-shadow: 20px 20px 20px rgb(2 2 2 / 0.25);
}

.mainFold_imageWrapper img {
  display: block;
}

/*
  MDX
 */
.mdx_content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 15px 50px;
  font-size: 18px;
  line-height: 1.5;
}

.mdx_content a {
  color: #003173;
  text-decoration: none;
  transition: all 0.3s ease;
}

.mdx_content a:hover {
  color: #e05b17;
}

/*
  Responsive design
 */
@media screen and (min-height: 1200px) {
  .mainFold_header1 {
    padding: 160px 0 0;
  }

  .mainFold_imageWrapper {
    margin-top: 120px;
  }
}
