.banner {
  width: 100%;
  padding: 12px 24px;
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: var(--neutral-80);

  @media (max-width: 768px) {
    padding: 10px 24px;
  }

  @media (max-width: 660px) {
    font-size: 15px;
    line-height: 20px;
  }

  @media (max-width: 585px) {
    padding: 6px 24px;
    font-size: 14px;
  }

  color: var(--white);

  a {
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
    font-weight: 400;
    color: var(--neutral-30);
    transition: all 150ms ease-in-out;

    &:hover {
      color: var(--white);

      svg {
        transform: translateX(4px);
      }
    }

    svg {
      margin-left: 8px;
      transform: none;
      transition: transform 150ms ease-in-out;
    }
  }
}
