header {
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--white);

  #header-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 12px 24px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, max-content);
      padding: 16px 24px;
    }

    .logo {
      justify-self: start;
      width: 100px;

      svg {
        width: 100%;
        height: auto;
        shape-rendering: geometricPrecision;
      }
    }

    nav {
      display: grid;
      grid-auto-flow: column;
      column-gap: 32px;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      @media (max-width: 768px) {
        display: none;
      }

      .nav-link {
        text-decoration: none;

        svg {
          width: 28px;
          height: 28px;
          fill: var(--orange-50);
        }
      }

      .nav-link span,
      .sub-nav-title {
        color: var(--neutral-70);
        transition: all 150ms ease-in-out;

        // @media (any-hover: hover) {
        &:hover {
          color: var(--black);
        }
        // }
      }

      .nav-group {
        position: relative;

        // @media (any-hover: hover) {
        &:hover {
          .sub-nav-title {
            color: var(--black);
            cursor: default;
          }

          .sub-nav-wrapper {
            visibility: visible;
            transform: translateY(0);
            opacity: 1;
          }
        }
        // }

        .sub-nav-wrapper {
          position: absolute;
          left: -65px;
          padding-top: 12px;
          visibility: hidden;
          transform: translateY(8px);
          opacity: 0;
          transition: all 0.25s ease-in-out;
          transition-delay: 50ms;

          .sub-nav {
            display: flex;
            flex-direction: column;
            row-gap: 32px;
            padding: 24px 48px 24px 24px;
            background-color: var(--white);
            border: 2px solid var(--neutral-20);
            border-radius: 3px;

            .sub-nav-title {
              transition-delay: 50ms;
            }

            .sub-nav-group {
              display: flex;
              flex-direction: column;
              row-gap: 8px;

              .sub-nav-link {
                display: flex;
                column-gap: 16px;
                align-items: center;
                text-decoration: none;

                // @media (any-hover: hover) {
                &:hover {
                  svg {
                    fill: var(--blue-50);
                  }

                  span {
                    color: var(--blue-50);
                  }
                }
                // }

                svg {
                  fill: var(--neutral-50);
                  transition: all 150ms ease-in-out;
                }

                span {
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: -0.011em;
                  text-transform: none;
                  white-space: nowrap;
                  color: var(--blue-100);
                  transition: all 150ms ease-in-out;
                }
              }
            }
          }
        }
      }
    }

    .primary-cta {
      justify-self: end;
      background-color: var(--orange-50);
      color: var(--white);

      &:hover {
        background-color: var(--orange-60);
      }

      @media (max-width: 1024px) {
        display: none;
      }
    }

    .menu-icon {
      display: none;
      fill: var(--black);

      &:hover {
        fill: var(--neutral-50);
        cursor: pointer;
      }

      @media (max-width: 768px) {
        display: block;
      }
    }
  }
}

header.mobile-menu-open {
  height: 100vh;
  background-color: var(--neutral-10);

  .banner {
    display: none;
  }

  #header-container {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    align-items: flex-start;

    nav {
      display: grid;
      grid-auto-flow: row;
      row-gap: 40px;

      .nav-link {
        display: flex;
        column-gap: 16px;
        align-items: center;

        span {
          font-weight: 400;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: -0.005em;
          text-transform: none;
          white-space: nowrap;
          color: var(--blue-100);
        }
      }

      .nav-group {
        .sub-nav-wrapper {
          position: relative;
          left: 0;
          padding: 32px 0 0 32px;
          transform: none;
          visibility: visible;
          opacity: 1;

          .sub-nav {
            padding: 0;
            border: none;
            background-color: var(--neutral-10);

            .sub-nav-link {
              span {
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.005em;
                color: var(--blue-100);
              }
            }
          }
        }
      }
    }

    .primary-cta {
      display: inline-flex;
    }

    .menu-icon {
      position: absolute;
      top: 16px;
      right: 24px;
    }
  }
}

header.mobile-menu-closed {
  -webkit-backdrop-filter: saturate(100%) blur(20px);
  backdrop-filter: saturate(100%) blur(20px);
  background-color: rgba(255, 255, 255, 0.85);
}
