header {
  display: flex;
  align-items: center;
  height: 80px;

  @media (max-width: 1200px) {
    padding: 0 25px;
  }

  @media (max-width: 1024px) {
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    padding: 0 15px;
  }

  #header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1180px;
    line-height: 130%;

    #logo {
      width: 100px;
    }

    #header-nav {
      display: flex;
      flex-direction: row;
      font-weight: 500;
      font-size: 16px;

      @media (max-width: 900px) {
        display: none;
      }

      .header-nav-link {
        position: relative;
        padding: 10px 15px;
        color: var(--white);
        text-align: left;
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        @media (max-width: 1024px) {
          padding: 10px 12px;
        }

        @media (max-width: 900px) {
          padding: 9px;
        }

        &:hover {
          background-color: var(--neutral-20);
          color: var(--blue-50);
          border-radius: 3px;

          .header-nav-submenu {
            display: flex;
            font-weight: 500;
          }
        }

        .header-nav-submenu {
          position: absolute;
          top: 40px;
          left: 0;
          display: none;
          flex-direction: column;
          width: max-content;
          padding: 10px 20px;
          text-align: left;
          background-color: var(--neutral-20);
          color: var(--blue-90);

          @media (max-width: 1024px) {
            padding: 10px 15px;
          }

          @media (max-width: 900px) {
            padding: 10px;
          }

          a {
            padding: 5px 0;
            color: var(--blue-90);
            text-decoration: none;
            transition: color 0.2s ease-in-out;

            &:hover {
              color: var(--blue-50);
            }
          }
        }
      }

      #header-nav-link-product,
      #header-nav-link-company {
        transition: color 0.2s ease-in-out;

        &:hover {
          color: var(--blue-50) !important;
        }
      }

      #header-nav-link-docs,
      #header-nav-link-resources {
        transition: color 0.2s ease-in-out;

        &:hover {
          border-radius: 3px 3px 0 0;
          color: var(--blue-90);

          .header-nav-submenu {
            border-radius: 0 3px 3px 3px;
          }
        }
      }
    }

    .about {
      .header-nav-link {
        &:hover {
          background-color: var(--orange-20) !important;
          color: var(--blue-50);
        }

        .header-nav-submenu {
          background-color: var(--orange-20) !important;
        }
      }
    }

    .about,
    .blog,
    .case-studies,
    .integrations,
    .privacy-policy,
    .terms-of-service,
    .compare-with-google-analytics {
      .header-nav-link {
        color: var(--blue-90) !important;

        &:hover {
          color: var(--blue-50) !important;
        }
      }
    }

    #cta {
      width: 180px;
      padding: 10px 20px;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      background-color: var(--orange-50);
      color: var(--white);
      border-radius: 3px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: var(--orange-60);
        color: var(--neutral-10);
      }

      @media (max-width: 900px) {
        display: none;
      }
    }

    #header-nav-mobile-menu-icon {
      display: none;

      @media (max-width: 900px) {
        display: block;
      }

      svg {
        display: block;
        width: 26px;
        height: 26px;
        transition: all 0.2s ease-in-out;

        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
    #header-nav-mobile-container {
      z-index: 1;
      position: fixed;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;

      #header-nav-mobile {
        position: absolute;
        top: 0;
        right: 0;
        width: 65%;
        height: 100vh;
        overflow: scroll;

        @media (max-width: 600px) {
          width: 80%;
        }

        @media (max-width: 500px) {
          width: 90%;
        }

        #header-nav-mobile-x-icon {
          position: absolute;
          top: 0;
          right: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 15px;
          height: 80px;

          svg {
            display: block;
            width: 32px;
            height: 32px;
            transition: all 0.2s ease-in-out;

            &:hover {
              opacity: 0.7;
              cursor: pointer;
            }
          }
        }

        #header-nav-mobile-links {
          position: absolute;
          padding-top: 100px;
          padding-bottom: 100px;
          padding-left: 60px;
          font-weight: 400;
          font-size: 25px;
          line-height: 130%;

          @media (max-width: 600px) {
            padding-top: 80px;
            padding-bottom: 80px;
            font-size: 22px;
          }

          @media (max-width: 500px) {
            font-size: 20px;
          }

          @media (max-width: 400px) {
            padding-left: 30px;
          }

          #header-nav-mobile-product {
            margin-bottom: 30px;
          }

          a {
            display: flex;
            width: 100%;
            text-decoration: none;
            transition: color 0.2s ease-in-out;

            &:hover {
              color: var(--blue-40) !important;
            }
          }

          .header-nav-mobile-group {
            margin: 30px 0;

            .header-nav-mobile-group-title {
              display: flex;
              text-decoration: none;
            }

            .header-nav-mobile-subgroup {
              padding-left: 45px;

              @media (max-width: 600px) {
                padding-left: 35px;
              }

              @media (max-width: 500px) {
                padding-left: 30px;
              }

              @media (max-width: 400px) {
                padding-left: 25px;
              }

              a {
                padding: 5px 0;

                @media (max-width: 600px) {
                  padding: 3px 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
