.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 128px;
  padding-bottom: 96px;
  text-align: center;

  @media (max-width: 768px) {
    padding-top: 96px;
  }

  // Get rid of this

  .section-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  h1 {
    max-width: 900px;
    margin: auto;
    font-weight: 400;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: -0.025em;
    color: var(--blue-100);
    white-space: pre-wrap;

    @media (max-width: 1180px) {
      max-width: 850px;
      font-size: 44px;
      line-height: 58px;
      letter-spacing: -0.025em;
    }

    @media (max-width: 900px) {
      width: 95%;
      max-width: 750px;
      font-size: 38px;
      line-height: 54px;
    }

    @media (max-width: 768px) {
      font-size: 36px;
      line-height: 48px;
    }

    @media (max-width: 600px) {
      font-size: 29px;
      line-height: 40px;
    }

    span {
      font-weight: 500;
      color: var(--orange-50);
    }
  }

  p {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 64px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.015em;
    color: var(--neutral-80);

    @media (max-width: 900px) {
      max-width: 450px;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.014em;
      padding-top: 30px;
      padding-bottom: 54px;
    }

    @media (max-width: 650px) {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.014em;
      padding-top: 20px;
      padding-bottom: 44px;
    }
  }

  #cta-section {
    display: flex;
    column-gap: 16px;
    margin: 0 auto;

    @media (max-width: 650px) {
      flex-direction: column;
      row-gap: 16px;
      align-items: center;
    }

    .new-cta {
      background-color: var(--orange-50);
      color: var(--white);

      &:hover {
        background-color: var(--orange-60);
        text-decoration: none;
      }
    }

    .hero-cta:last-of-type {
      display: flex;
      align-items: center;
      column-gap: 8px;
      padding: 8px 16px;
      background-color: var(--white);
      color: var(--neutral-60);
      border: 2px solid var(--neutral-60);
      border-radius: 50px;
      transition: all 150ms ease-in-out;

      span {
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.011em;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--neutral-10);
        border: 2px solid var(--neutral-80);

        span {
          color: var(--neutral-80);
        }
      }
    }
  }

  #customers {
    overflow: hidden;

    #customers-text {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.011em;
      font-weight: 600;
      text-transform: uppercase;
      color: var(--neutral-80);
      padding-top: 96px;
      padding-bottom: 50px;
    }

    #customers-list-outer-container {
      width: 200%;

      #customers-list-inner-container {
        width: 200%;
        position: relative;
        left: 0;
        display: flex;
        flex-wrap: nowrap;
        gap: 64px;
        justify-content: flex-start;
        animation: scroll 20s linear infinite;

        @media (max-width: 1180px) {
          gap: 48px;
        }
      }

      @keyframes scroll {
        0% {
          left: 0;
        }
        100% {
          left: -50%;
        }
      }
    }
  }
}
