.solutions-testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 128px;
  font-style: italic;
  background-color: var(--neutral-80);
  color: var(--neutral-20);
  border-radius: 5px;
}
